/*
font-family: 'Montserrat', sans-serif;
font-family: 'Archivo', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Ubuntu Mono', monospace;
*/
html, body{
    background-color: black;
    color: white;
    display: grid;
    position: relative;
    height: 100%;
    letter-spacing: 3px;
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    overflow: hidden;
}
a{
    text-decoration: none;
    cursor: crosshair;
    color: white;
}
.name-about{
    position: absolute;
    top: 30px;
    left: 30px;
}
.name-about:hover{
    cursor: crosshair;
}
.navbar{
    position: absolute;
    top: 30px;
    right: 30px;
    display: grid;
    width: 500px;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    z-index: 50;
}
.navbar div span{
    margin: 0 -3px;
}
.navbar div:hover{
    cursor: crosshair;
    font-weight: bold;
    color: rgb(255, 251, 226);
    text-shadow: 0px 0px 1px gold;
}
    .navbar div:hover span:nth-child(1){ transition-delay: 0s; }
    .navbar div:hover span:nth-child(2){ transition-delay: .033s; }
    .navbar div:hover span:nth-child(3){ transition-delay: .066s; }
    .navbar div:hover span:nth-child(4){ transition-delay: .1s; }
    .navbar div:hover span:nth-child(5){ transition-delay: .133s; }
    .navbar div:hover span:nth-child(6){ transition-delay: .166s; }
    .navbar div:hover span:nth-child(7){ transition-delay: .2s; }
    .navbar div:hover span:nth-child(8){ transition-delay: .233s; }

.foot{
    position: fixed;
    bottom: 30px;
    left: calc(50% - 250px);
    display: grid;
    width: 500px;
    height: 50px;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    font-size: 20px;
    z-index: 50;
}
.foot div{
    text-align: center;
}
.foot div a:hover{
    font-weight: bold;
    color: rgb(255, 251, 226);
    text-shadow: 0px 0px 3px gold;
    font-size: 30px;
}

/* ====================================================================================== */

.container{
    position: absolute;
    display: grid;
    top: 70px;
    left: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 140px);
    align-content: center;
    justify-content: center;
}

/* ----------------------------------------------------------- */
.quote-div, .home{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    justify-self: center;
    width: 100%;
    height: 300px;
}
#quote{
    font-size: 40px;
    line-height: 100px;
    text-align: left;
    justify-self: center;
}
#author{
    font-size: 20px;
    line-height: 100px;
    text-align: right;
}

/* ----------------------------------------------------------- */

.projects{
    display: none;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    justify-self: center;
    width: 95%;
    height: 100%;
}
.projects .pdiv{
    display: grid;
    text-align: center;
    align-items: center;
}
.projects .pdiv a{
    display: grid;
    align-content: center;
    height: 100px;
}
.projects .pdiv a:hover{
    color: rgb(255, 251, 226);
    text-shadow: 2px 2px 3px gold;
    font-size: 20px;
}

/* ----------------------------------------------------------- */

.about{
    display: none;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-content: center;
    line-height: 2;
}
.about-left{
    display: grid;
    justify-items: center;
    align-content: center;
    width: 100%;
}
.about-left p{
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px inset white;
    margin-bottom: 20px;
}
hr{
    width: 90%;
}
li span{
    margin-right: 10px;
    font-size: 20px;
}
li span:hover{
    color: rgb(236, 210, 216);
    text-shadow: 0px 0px 3px rgb(75, 0, 15);
}
.about-left img{
    width: 200px;
}
.about-right{
    display: grid;
    justify-self: center;
    align-content: center;
    width: 80%;
}
.about-right p{
    font-size: 15px;
}

/* ----------------------------------------------------------- */

.contact{
    display: grid;
    position: absolute;
    justify-items: center;
    align-content: center;
    background-color: black;
    width: 400px;
    height: 350px;
    z-index: 100;
    line-height: 2;
    right: -500px;
    top: 80px;
    box-shadow: 0 0 3px white;
}
.contact-title{
    justify-self: start;
    margin: 30px;
}
form{
    width: 100%;
    outline: none;
    margin-left: 50px;
}
form input, #submit, textarea{
    border-radius: 3px;
    outline: none;
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
}
form input{
    display: grid;
    width: 80%;
}
#submit{
    height: 25px;
    justify-content: right;
    background: transparent;
    border: none;
    color: white;
    margin-bottom: 25px;
    position: relative;
}
#submit:hover{
    cursor: crosshair;
    font-weight: bold;
    color: rgb(255, 251, 226);
    text-shadow: 0px 0px 3px gold;
    /* transform: translateX(500px); */
}
/*
#submit span{
    position: absolute;
    transition-property: all;
}

#submit span:nth-child(1){ margin-left: 0px; }
#submit span:nth-child(2){ margin-left: 400px; }
#submit span:nth-child(3){ margin-left: 450px; }
#submit span:nth-child(4){ margin-left: 500px; }
#submit span:nth-child(5){ margin-left: 550px; }
*/

    #submit:hover span:nth-child(1){ transition: cubic-bezier(0.55, 0.055, 0.675, 0.19); transition-delay: 0s;}
    #submit:hover span:nth-child(2){ transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);  transition-delay: .033s;}
    #submit:hover span:nth-child(3){ transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);  transition-delay: .066s; }
    #submit:hover span:nth-child(4){ transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);  transition-delay: .1s; }
    #submit:hover span:nth-child(5){ transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);  transition-delay: .133s; }
#submit:active{
    color: rgb(255, 248, 199);
    text-shadow: 0px 0px 2px gold;
}
textarea{
    width: 80%;
}

/* ----------------------------------------------------------- */

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}


/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait)  {
    .navbar{
        top: 40px;
        right: 0px;
        width: 350px;
        left: calc(50% - 175px);
    }
    .name-about{
        top: 10px;
        left: calc(50% - 40px);
    }
    .container{
        top: 50px;
        left: 30px;
        width: calc(100% - 60px);
        height: calc(100% - 50px);
    }
    .foot{
        bottom: 10px;
        left: calc(50% - 175px);
        width: 350px;
    }

    /* ==================================================== */

    .projects{
        display: none;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 300px);
        justify-content: center;
        align-content: center;
        justify-self: center;
        width: 95%;
        height: 100%;
        margin-top: -30px;
    }

    /* --------------------------------------------------------------*/

    .about{
        grid-template-columns: 350px;
        align-content: flex-start;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 10px;
    }
    .about-left{
        width: 100%;
        margin-top: 30px;
    }
    .about-left p{
        margin-bottom: 20px;
    }
    ul{
        margin-bottom: 50px;
    }
    hr{
        margin: 30px 0;
    }
    .about-left img{
        width: 350px;
    }
    .about-right p{
        margin-bottom: 60px;
    }

/* --------------------------------------------------------------*/

    .contact{
        width: 350px;
        height: 350px;
        right: -500px;
        top: 80px;
    }
    .contact-title{
        justify-self: start;
        margin: 20px;
    }
    form{
        width: 100%;
        outline: none;
        margin-left: 50px;
    }
    #submit{
        margin-bottom: 25px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .navbar{
        top: 20px;
        right: 0px;
        width: 500px;
    }
    .name-about{
        top: 20px;
        left: 20px;
    }
    .container{
        top: 40px;
        left: 30px;
        width: calc(100% - 60px);
        height: calc(100% - 30px);
    }
    .foot{
        bottom: 0px;
    }

    /* ==================================================== */

    .projects{
        margin-top: -30px;
    }

    /* --------------------------------------------------------------*/

    .about{
        grid-template-columns: 1fr 2fr;
        align-content: flex-start;
        overflow-x: hidden;
        margin-top: 10px;
    }
    .about-left{
        margin-top: 10px;
        overflow-y: hidden;
    }
    .about-left p{
        margin-bottom: 10px;
    }
    ul{
        margin-bottom: 0px;
    }
    hr{
        margin: 30px 0;
    }
    .about-left img{
        width: 200px;
    }
    .about-right p{
        margin: 50px 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
/* --------------------------------------------------------------*/

    .contact{
        width: 350px;
        height: 220px;
        right: -500px;
        top: 0px;
    }
    .contact-title{
        justify-self: start;
        margin: 30px 0 -5px 20px;
    }
    form{
        width: 100%;
        outline: none;
        margin-left: 50px;
    }
    #submit{
        margin-top: -5px;
        margin-bottom: 25px;
    }
    textarea{
        width: 80%;
        height: 50px;
        letter-spacing: 3px;
    }
    form input{
        height: 10px;
        width: 80%;
        font-size: 10px;
        letter-spacing: 3px;
    }
}