/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .navbar{
        top: 20px;
        right: 0px;
        width: 400px;
    }
    .name-about{
        top: 20px;
        left: 20px;
    }
    .container{
        top: 40px;
        left: 30px;
        width: calc(100% - 60px);
        height: calc(100% - 60px);
    }
    .foot{
        bottom: 0px;
    }

    /* ==================================================== */

    .projects{
        margin-top: -20px;
    }

    /* --------------------------------------------------------------*/

    .about{
        grid-template-columns: 1fr 2fr;
        align-content: flex-start;
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 10px;
    }
    .about-left{
        margin-top: 10px;
        overflow-y: auto;
    }
    .about-left p{
        margin-bottom: 10px;
    }
    ul{
        margin-bottom: 0px;
    }
    hr{
        margin: 30px 0;
    }
    .about-left img{
        width: 200px;
    }
    .about-right p{
        margin: 10px 0 50px 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
/* --------------------------------------------------------------*/

    .contact{
        width: 350px;
        height: 220px;
        right: -500px;
        top: 20px;
    }
    .contact-title{
        justify-self: start;
        margin: 30px 0 -5px 20px;
    }
    form{
        width: 100%;
        outline: none;
        margin-left: 50px;
    }
    #submit{
        margin-top: -5px;
        margin-bottom: 25px;
    }
    textarea{
        width: 80%;
        height: 50px;
        letter-spacing: 3px;
    }
    form input{
        height: 10px;
        width: 80%;
        font-size: 10px;
        letter-spacing: 3px;
    }
}





/* iphone x  */
/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .navbar{
        top: 20px;
        right: 0px;
        width: 500px;
    }
    .name-about{
        top: 20px;
        left: 20px;
    }
    .container{
        top: 40px;
        left: 30px;
        width: calc(100% - 60px);
        height: calc(100% - 30px);
    }
    .foot{
        bottom: 0px;
    }

    /* ==================================================== */

    .projects{
        margin-top: -30px;
    }

    /* --------------------------------------------------------------*/

    .about{
        grid-template-columns: 1fr 2fr;
        align-content: flex-start;
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 10px;
    }
    .about-left{
        margin-top: 10px;
        overflow-y: hidden;
    }
    .about-left p{
        margin-bottom: 10px;
    }
    ul{
        margin-bottom: 0px;
    }
    hr{
        margin: 30px 0;
    }
    .about-left img{
        width: 200px;
    }
    .about-right p{
        margin: 40px 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
/* --------------------------------------------------------------*/

    .contact{
        width: 350px;
        height: 220px;
        right: -500px;
        top: 0px;
    }
    .contact-title{
        justify-self: start;
        margin: 30px 0 -5px 20px;
    }
    form{
        width: 100%;
        outline: none;
        margin-left: 50px;
    }
    #submit{
        margin-top: -5px;
        margin-bottom: 25px;
    }
    textarea{
        width: 80%;
        height: 50px;
        letter-spacing: 3px;
    }
    form input{
        height: 10px;
        width: 80%;
        font-size: 10px;
        letter-spacing: 3px;
    }
}


/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait)  {
    .navbar{
        top: 40px;
        right: 0px;
        width: 350px;
        left: calc(50% - 175px);
    }
    .name-about{
        top: 10px;
        left: calc(50% - 40px);
    }
    .container{
        top: 50px;
        left: 30px;
        width: calc(100% - 60px);
        height: calc(100% - 50px);
    }
    .foot{
        bottom: 10px;
        left: calc(50% - 175px);
        width: 350px;
    }


    /* ==================================================== */

    .projects{
        display: none;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 300px);
        justify-content: center;
        align-content: center;
        justify-self: center;
        width: 95%;
        height: 100%;
        margin-top: -30px;
    }

    /* --------------------------------------------------------------*/

    .about{
        grid-template-columns: 350px;
        align-content: flex-start;
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 10px;
    }
    .about-left{
        width: 100%;
        margin-top: 30px;
    }
    .about-left p{
        margin-bottom: 20px;
    }
    ul{
        margin-bottom: 50px;
    }
    hr{
        margin: 30px 0;
    }
    .about-left img{
        width: 350px;
    }
    .about-right p{
        margin-bottom: 60px;
        overflow-y: auto;
    }

/* --------------------------------------------------------------*/

    .contact{
        width: 350px;
        height: 350px;
        right: -500px;
        top: 80px;
    }
    .contact-title{
        justify-self: start;
        margin: 20px;
    }
    form{
        width: 100%;
        outline: none;
        margin-left: 50px;
    }
    #submit{
        margin-bottom: 25px;
    }   
    textarea{
        width: 80%;
        height: 200px;
        letter-spacing: 3px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    .navbar{
        top: 20px;
        right: 0px;
        width: 500px;
    }
    .name-about{
        top: 20px;
        left: 20px;
    }
    .container{
        top: 40px;
        left: 30px;
        width: calc(100% - 60px);
        height: calc(100% - 30px);
    }
    .foot{
        bottom: 0px;
    }

    /* ==================================================== */

    .projects{
        margin-top: -30px;
    }

    /* --------------------------------------------------------------*/

    .about{
        grid-template-columns: 1fr 2fr;
        align-content: flex-start;
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 10px;
    }
    .about-left{
        margin-top: 10px;
        overflow-y: auto;
    }
    .about-left p{
        margin-bottom: 10px;
    }
    ul{
        margin-bottom: 0px;
    }
    hr{
        margin: 30px 0;
    }
    .about-left img{
        width: 200px;
    }
    .about-right p{
        margin: 10px 0 50px 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
/* --------------------------------------------------------------*/

    .contact{
        width: 350px;
        height: 220px;
        right: -500px;
        top: 20px;
    }
    .contact-title{
        justify-self: start;
        margin: 30px 0 -5px 20px;
    }
    form{
        width: 100%;
        outline: none;
        margin-left: 50px;
    }
    #submit{
        margin-top: -5px;
        margin-bottom: 25px;
    }
    textarea{
        width: 80%;
        height: 50px;
        letter-spacing: 3px;
    }
    form input{
        height: 10px;
        width: 80%;
        font-size: 10px;
        letter-spacing: 3px;
    }
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .navbar{
        top: 40px;
        right: 0px;
        width: 350px;
        left: calc(50% - 175px);
    }
    .name-about{
        top: 10px;
        left: calc(50% - 40px);
    }
    .container{
        top: 50px;
        left: 30px;
        width: calc(100% - 60px);
        height: calc(100% - 50px);
    }
    .foot{
        bottom: 10px;
        left: calc(50% - 175px);
        width: 350px;
    }
    
    /* ==================================================== */

    .projects{
        display: none;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 300px);
        justify-content: center;
        align-content: center;
        justify-self: center;
        width: 95%;
        height: 100%;
        margin-top: -30px;
    }

    /* --------------------------------------------------------------*/

    .about{
        grid-template-columns: 350px;
        align-content: flex-start;
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 10px;
    }
    .about-left{
        width: 100%;
        margin-top: 30px;
    }
    .about-left p{
        margin-bottom: 20px;
    }
    ul{
        margin-bottom: 50px;
    }
    hr{
        margin: 30px 0;
    }
    .about-left img{
        width: 350px;
    }
    .about-right p{
        margin-bottom: 60px;
        overflow-y: auto;
    }

/* --------------------------------------------------------------*/

    .contact{
        width: 350px;
        height: 350px;
        right: -500px;
        top: 80px;
    }
    .contact-title{
        justify-self: start;
        margin: 20px;
    }
    form{
        width: 100%;
        outline: none;
        margin-left: 50px;
    }
    #submit{
        margin-bottom: 25px;
    }
}




/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .navbar{
        top: 40px;
        right: 0px;
        width: 300px;
        left: calc(50% - 150px);
    }
    .name-about{
        top: 10px;
        left: calc(50% - 40px);
    }
    .container{
        top: 50px;
        left: 30px;
        width: calc(100% - 60px);
        height: calc(100% - 50px);
        font-size: 10px;
    }
    .foot{
        bottom: 0px;
        left: calc(50% - 175px);
        width: 350px;
    }
    
    /* ==================================================== */

    #quote{
        font-size: 20px;
        line-height: 100px;
        text-align: left;
        justify-self: center;
    }
    #author{
        font-size: 15px;
        line-height: 100px;
        text-align: right;
    }

/* --------------------------------------------------------------*/

    .projects{
        display: none;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 300px);
        justify-content: center;
        align-content: center;
        justify-self: center;
        width: 95%;
        height: 100%;
        margin-top: -30px;
    }

    /* --------------------------------------------------------------*/

    .about{
        grid-template-columns: 350px;
        align-content: flex-start;
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 10px;
    }
    .about-left{
        width: 100%;
        margin-top: 30px;
    }
    .about-left p{
        margin-bottom: 20px;
    }
    ul{
        margin-bottom: 50px;
    }
    hr{
        margin: 30px 0;
    }
    .about-left img{
        width: 350px;
    }
    .about-right p{
        margin-bottom: 60px;
        overflow-y: auto;
    }

/* --------------------------------------------------------------*/

    .contact{
        width: 300px;
        height: 325px;
        right: -500px;
        top: 80px;
    }
    .contact-title{
        justify-self: start;
        margin: 20px 0 0px 10px;
        font-size: 10px;
    }
    form{
        width: 100%;
        outline: none;
        margin-left: 30px;
    }
    #submit{
        margin-bottom: 25px;
    }
  }

  